<button type="button" class="btn btn-info btn-lg" onclick="window.location.href='/smm/2023/sg1';">
    St. Gallen 1
</button>
<button type="button" class="btn btn-info btn-lg" onclick="window.location.href='/smm/2023/sg2';">
    St. Gallen 2
</button>
<button type="button" class="btn btn-info btn-lg" onclick="window.location.href='/smm/2023/sg3';">
    St. Gallen 3
</button>
<button type="button" class="btn btn-info btn-lg" onclick="window.location.href='/smm/2023/sg4';">
    St. Gallen 4
</button>

{% if include.active == 4 %}
<p>ITS 4</p>
{% endif %}

<!--<style>-->
<!--    button {-->
<!--        white-space: nowrap;-->
<!--    }-->
<!--</style>-->