<a id="smm-link"
   data-gruppe="{{ include.gruppe }}"
   data-liga="{{ include.liga }}"
   data-runde="{{ include.runde }}"
   target="_blank"
>{{ include.text }}</a>
<script>
    const smmLink = document.getElementById("smm-link")
    smmLink.setAttribute("href", "https://www.swisschess.ch/smm.html?old=" +
            window.btoa("/turniere/smm.php?ajahr=2023&agruppe=" + smmLink.getAttribute("data-gruppe") +
                "&aliga=" + smmLink.getAttribute("data-liga") + "&around=" + smmLink.getAttribute("data-runde")));
</script>