<button type="button" class="btn btn-light btn-lg {% if include.active == 1 %}active{% endif %}"
        onclick="window.location.href='/sgm/2026/sg1';">
    St. Gallen 1
</button>
<button type="button" class="btn btn-light btn-lg {% if include.active == 2 %}active{% endif %}" onclick="window.location.href='/sgm/2026/sg2';">
    St. Gallen 2
</button>
<button type="button" class="btn btn-light btn-lg {% if include.active == 3 %}active{% endif %}" onclick="window.location.href='/sgm/2026/sg3';">
    St. Gallen 3
</button>
<button type="button" class="btn btn-light btn-lg {% if include.active == 4 %}active{% endif %}" onclick="window.location.href='/sgm/2026/sg4';">
    St. Gallen 4
</button>

<!--<style>-->
<!--    button {-->
<!--        white-space: nowrap;-->
<!--    }-->
<!--</style>-->
