<button type="button" class="btn btn-light btn-lg {% if include.year == 2023 %}active{% endif %}"
        onclick="window.location.href='/smm/2023/{% if include.team == 1 %}sg1{% endif %}{% if include.team == 2 %}sg2{% endif %}{% if include.team == 3 %}sg3{% endif %}{% if include.team == 4 %}sg4{% endif %}';">
    2023
</button>
<button type="button" class="btn btn-light btn-lg {% if include.year == 2024 %}active{% endif %}"
        onclick="window.location.href='/smm/2024/{% if include.team == 1 %}sg1{% endif %}{% if include.team == 2 %}sg2{% endif %}{% if include.team == 3 %}sg3{% endif %}{% if include.team == 4 %}sg4{% endif %}';">
    2024
</button>
