<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="#zwischenrangliste" data-toggle="tab"
      >Zwischenrangliste</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#runde-1" data-toggle="tab">1. Runde</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#runde-2" data-toggle="tab">2. Runde</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#runde-3" data-toggle="tab">3. Runde</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#runde-4" data-toggle="tab">4. Runde</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#runde-5" data-toggle="tab">5. Runde</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#startrangliste" data-toggle="tab"
      >Startrangliste</a
    >
  </li>
  <li class="nav-item"></li>
</ul>
<div class="tab-content">
  <div role="tabpanel" class="tab-pane" id="zwischenrangliste">
    {% include turniere/stadtmeisterschaft/2022/zwischenrangliste.html %}
  </div>
  <div role="tabpanel" class="tab-pane" id="runde-1">
    {% include turniere/stadtmeisterschaft/2022/runde-1.html %}
  </div>
  <div role="tabpanel" class="tab-pane" id="runde-2">
    {% include turniere/stadtmeisterschaft/2022/runde-2.html %}
  </div>
  <div role="tabpanel" class="tab-pane" id="runde-3">
    {% include turniere/stadtmeisterschaft/2022/runde-3.html %}
  </div>
  <div role="tabpanel" class="tab-pane" id="runde-4">
    {% include turniere/stadtmeisterschaft/2022/runde-4.html %}
  </div>
  <div role="tabpanel" class="tab-pane active" id="runde-5">
    {% include turniere/stadtmeisterschaft/2022/runde-5.html %}
  </div>
  <div role="tabpanel" class="tab-pane" id="startrangliste">
    {% include turniere/stadtmeisterschaft/2022/startrangliste.html %}
  </div>
  <div role="tabpanel" class="tab-pane" id="match"></div>
</div>
