<h1 class="sponsoren-header">Wir danken unseren Sponsoren!</h1>
<div class="sponsoring-logos">
    <a href="https://www.acrevis.ch" target="_blank" rel="noopener noreferrer">
        <img
                class="sponsoring-logo-img-acrevis"
                src="/assets/img/acrevis-logo.svg"
                alt="Acrevis Logo"
        >
    </a>

    <a href="https://www.sgsw.ch" target="_blank" rel="noopener noreferrer">
        <img
                class="sponsoring-logo-img-sgsw"
                src="/assets/img/sgsw_logo_schwarz.png"
                alt="SGSW Logo"
        >
    </a>
</div>
