<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="#a-zwischenrangliste" data-toggle="tab">Zwischenrangliste</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#a-runde-1" data-toggle="tab">1. Runde</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#a-runde-2" data-toggle="tab">2. Runde</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#a-runde-3" data-toggle="tab">3. Runde</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#a-runde-4" data-toggle="tab">4. Runde</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link active" href="#a-runde-5" data-toggle="tab">5. Runde</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#a-startrangliste" data-toggle="tab">Startrangliste</a>
    </li>
</ul>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane" id="a-zwischenrangliste">
        {% include turniere/klubmeisterschaft/2023/a/zwischenrangliste.html %}
    </div>
    <div role="tabpanel" class="tab-pane" id="a-runde-1">
        {% include turniere/klubmeisterschaft/2023/a/runde-1.html %}
    </div>
    <div role="tabpanel" class="tab-pane" id="a-runde-2">
        {% include turniere/klubmeisterschaft/2023/a/runde-2.html %}
    </div>
    <div role="tabpanel" class="tab-pane" id="a-runde-3">
        {% include turniere/klubmeisterschaft/2023/a/runde-3.html %}
    </div>
    <div role="tabpanel" class="tab-pane" id="a-runde-4">
        {% include turniere/klubmeisterschaft/2023/a/runde-4.html %}
    </div>
    <div role="tabpanel" class="tab-pane active" id="a-runde-5">
        {% include turniere/klubmeisterschaft/2023/a/runde-5.html %}
    </div>
    <div role="tabpanel" class="tab-pane" id="a-startrangliste">
        {% include turniere/klubmeisterschaft/2023/a/startrangliste.html %}
    </div>
    <div role="tabpanel" class="tab-pane" id="match"></div>
</div>
