<button type="button" class="btn btn-light btn-lg {% if include.year == 2024 %}active{% endif %}"
        onclick="window.location.href='/sgm/2024/{% if include.team == 1 %}sg1{% endif %}{% if include.team == 2 %}sg2{% endif %}{% if include.team == 3 %}sg3{% endif %}{% if include.team == 4 %}sg4{% endif %}';">
    2024
</button>
<button type="button" class="btn btn-light btn-lg {% if include.year == 2025 %}active{% endif %}"
        onclick="window.location.href='/sgm/2025/{% if include.team == 1 %}sg1{% endif %}{% if include.team == 2 %}sg2{% endif %}{% if include.team == 3 %}sg3{% endif %}{% if include.team == 4 %}sg4{% endif %}';">
    2025
</button>
<button type="button" class="btn btn-light btn-lg {% if include.year == 2026 %}active{% endif %}"
        onclick="window.location.href='/sgm/2026/{% if include.team == 1 %}sg1{% endif %}{% if include.team == 2 %}sg2{% endif %}{% if include.team == 3 %}sg3{% endif %}{% if include.team == 4 %}sg4{% endif %}';">
    2026
</button>
