<a id="smm-link" data-gruppe="&agruppe={{ include.gruppe }}" data-liga="&aliga={{ include.liga }}" data-round="&around={{ include.round }}" target="_blank">{{ include.text }}</a>
<script>
    var smmLink = document.getElementById("smm-link")
    smmLink.setAttribute("href", "https://www.swisschess.ch/smm.html?old=" +
            window.btoa("/turniere/smm.php?ajahr=2024" + smmLink.getAttribute("data-gruppe") +
                smmLink.getAttribute("data-liga") + smmLink.getAttribute("data-round")));
</script>
