<div id="table-container" data-round="&around={{ include.round }}"></div>


<script>
fetch("https://www.swisschess.ch/smm.html?old=" +
            window.btoa("/turniere/smm.php?ajahr=2025&agruppe=201&aliga=2" + smmLink.getAttribute("data-round")))
  .then(response => response.text())
  .then(html => {
    let parser = new DOMParser();
    let doc = parser.parseFromString(html, 'text/html');
    let table = doc.querySelector('.resulttable');
    if (table) {
      document.getElementById('table-container').appendChild(table);
    }
  })
  .catch(error => console.error('Error loading table:', error));
</script>
